@charset "utf-8";
body,header,main,footer,div,section,nav,h1,h2,h3,h4,h5,h6,p,aside,article,address,form,fieldset,legend,table,tbody,th,td,ol,ul,li,dl,dt,dd,input,button,select,option,textarea,figure,figcaption,caption,blockquote{margin:0; padding:0;}
ol,ul{list-style:none;}
img{display:block; border:0px;}
a{text-decoration:none;}
address,em,i{font-style:normal;}
button,fieldset,select,input{border:0px;}
legend,caption,hr{display:none;}
table{border-collapse:collapse; border-spacing:0px;}
.sr_only{
  display:block; width:0; height:0; font-size:0px; line-height:0px;
  visibility:hidden; overflow:hidden; position:absolute; left:0; top:0;
}
/* h1,h2,h3,h4,h5,h6,strong{font-weight:normal;} 웹폰트를 마음대로 쓰려면 해야됨
em{font-style:normal;} */